#my_message_in,#my_message_out,#other_message_in,#other_message_out {
	padding: 0;
	border: none;
	outline: none;
}
.v_center {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 2px;
}
a {
	text-decoration: none;
	color: black;
}
.card-body {
	overflow-x: scroll;
}
table,tr , td {
	width: fit-content;
	height: fit-content;
	font-size: 10px;
	border: 0.2px solid #000;
	text-align: center;
}
.first-col {
	background: #e0e0e0;
}
.thumb-sm {
	width: 25px;
	height: 25px;
	border-radius: 8px;
}
.fa-check {
	color: green;
}
.fa-ban {
	color: red;
}
.tag {
	color: #0095f4;
	margin-left: 2px;
	margin-right: 2px;
}